/* You can add global styles to this file, and also import other style files */
@import "abstracts/variables";

body {
    background: $black;
    color: $white;
}

* {
    outline: none !important; 
}

ul {
    list-style: none;
}