<div class="row">
    <div class="col-auto"><h2>Discovery</h2></div>
    <div class="col-4 ml-auto">
        <div class="form-group d-flex">
            <input type="text" class="form-control" [(ngModel)]="searchTitle" (keyup.enter)="getMovies()">
            <button class="btn btn-success ml-3" (click)="getMovies()">Button</button>
        </div>
    </div>
</div>

<div class="movies-wrapper" *ngIf="!loading">
    <app-movie-box *ngFor="let movie of movies" [movie]="movie"></app-movie-box>
</div>   

<h2 class="my-5 text-center" *ngIf="!loading && !movies.length" >Not found!</h2>

<app-loader [condition]="loading"></app-loader>
